.display-1 {
  margin: 20% auto;
  width: max-content;
}

form {
  .input-group {
    .invalid-feedback {
      position: absolute;
      bottom: -18px;
      text-shadow: 0 0 8px white;
    }
  }
}
.result {
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.navbar-brand {
  span {
    margin-left: 60px;
  }
  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

#successResult, #failedResult, #spinner {
  display: none;
}